.divHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.divSeccionPersonal {
  color: #ffe7d4;
  background-color: #494e5f;
  padding: 3em;
  min-width: 20em;
  max-width: 30em;
  overflow-y: auto;
}

.divSeccionExperiencia {
  color: #494e5f;
  background-color: #fefefa;
  padding: 3em;
  max-width: 40em;
  overflow-y: auto;
  margin-left: 2em;
}
