h3 {
  font-size: 1.7em;
  font-weight: bold;
}

p,
li,
span {
  font-size: 1.1em;
}

li {
  list-style: none;
}

ul {
    margin-block: 0;
    padding-inline: 0;
}

a {
    text-decoration: none;
    color: #FFE7D4;
    font-size: 0.9em;
}